<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Tools</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    
    <header id="main">D&D Tools</header>

    <article>
        <p>
            Deze website heeft meerdere tools die gefocust zijn om het spelen van Dungeons & Dragons 2024 te vergemakkelijken. <br>
            <i>Ze kunnen ook gebruikt worden voor andere tabletop roleplaying games, maar ze zijn daar niet voor gemaakt.</i> <br>
            Je hebt geen account nodig om deze tools te kunnen gebruiken en ze zijn allemaal te gebruiken via een moderne webbrowser. <br> 
            <i>(En neen, Internet Explorer is geen moderne webbrowser)</i>
        </p>

        <h1>Tools</h1>
        <ul>
            <il><a href="{{url_for('spell_slot_tracker')}}"> Spell slot tracker</a></il> <br>
            <il><a href="{{url_for('dice_roller')}}"> Dice roller</a></il>
        </ul>
   </article>

</body>
</html>